[run]
branch = true
parallel = true
disable_warnings =
  module-not-imported
source =
  {{ cookiecutter.private_module_name }}
  {{ cookiecutter.public_module_name }}
  tests

[paths]
source =
  src
  .tox/*/site-packages

[report]
exclude_lines =
  pragma: no cover
  raise RuntimeError
